/* remove default margin and padding from body */
#mapbody {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
#mapbody,
#maphtml {
  height: 100%;
}

#loc_vs_glo {
  padding: 10px;
}

#monkey {
  margin: 0px 400px 0px 400px;
}

#test-error {
  margin-left: 200px;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#newsroom {
  z-index: -2;
  stroke: #BF0A30;
  opacity: 0.1;
  border-radius: 8px;
}

.newspaper {
  font: 50px Helvetica Neue;
  fill: #002868;
  opacity: 1;
  text-anchor: middle;
}

.chart::before {
  z-index: -1;
  display: block;
  width: 960px;
  height: 500px;
  content: " ";
  opacity: 0.3;
  position: absolute;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  font: 12px Helvetica Neue;
  padding: 1px;
  padding-top: 4px;
  color: white;
  text-align: center;
  background: #BF0A30;
  opacity: 0.75;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font: 20px Helvetica Neue;
  fill: #002868;
}

.active {
  font-weight: bold;
  transition: fill 0.3s ease-out;
}

.inactive {
  font-weight: light;
  transition: fill 0.3s ease-out;
}

.inactive:hover {
  fill: #BF0A30;
  cursor: pointer;
}

.state-circles {
  fill: #002868;
  stroke: #BF0A30;
  opacity: 1;
}

.state-abbr {
  fill: white;
  font: 20px Myriad Pro;
  text-anchor: middle;
}

#box {
  margin: 0 0;
  width: 100%;
  height: 100%;
  background: #CD853F;
  opacity: 0.2;
}

#map-col {
  align-items: right;
}

/* header */
#title {
  font-family: Garamond;
  font-size: 50px;
}

/* footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
  color: #CD853F;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

/* modal */
.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:1233px;
  max-width:1233px; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
  
}
.modal-dialog {
  width: 2000px;
  margin: 30px 0px 30px 350px;
}
.modal{
  width: 2000px;
  margin: 0 auto;
}
/* Top right text */
.modal-title {
  position: absolute;
  margin: 50px 0px 230px 170px;
  bottom: 8px;
  left: 16px;
  font-size: 70px;
  font-family: Garamond;
}
/* end of modal */